obj
bin
lib
*.output
actual
gmon.out
1.sh
2.sh
rejected.txt

#do not exclude op_scanner.* etc. that would exclude [op|aws]_scanner.[y|l] too!
#this is for v1
op_scanner.cpp
op_scanner.hpp
op_parser.cpp
op_parser.hpp
aws_scanner.cpp
aws_scanner.hpp
aws_parser.cpp
aws_parser.hpp
gcp_scanner.cpp
gcp_scanner.hpp
gcp_parser.cpp
gcp_parser.hpp

#this is for v2
aws_v2_parser.cpp
aws_v2_parser.hpp
aws_v2_scanner.cpp
aws_v2_scanner.hpp
gcp_v2_parser.cpp
gcp_v2_parser.hpp
gcp_v2_scanner.cpp
gcp_v2_scanner.hpp
op_v2_parser.cpp
op_v2_parser.hpp
op_v2_scanner.cpp
op_v2_scanner.hpp
tw_v2_parser.cpp
tw_v2_parser.hpp
tw_v2_scanner.cpp
tw_v2_scanner.hpp
