SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=""

# For details see man 5 crontab

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * command to be executed

#16  1 * * * cd $HOME/ncbi-logging/scripts && ./mirror_s3.sh | ts 2>&1 >> $HOME/mirror_s3.log
16  2 * * * cd $HOME/ncbi-logging/scripts && ./mirror_gs.sh | ts 2>&1 >> $HOME/mirror_gs.log
16  3 * * * cd $HOME/ncbi-logging/scripts && ./mirror_op.sh | ts 2>&1 >> $HOME/mirror_op.log
16 20 * * * cd $HOME/ncbi-logging/scripts && ./parse_s3.sh  | ts 2>&1 >> $HOME/parse_s3.log
16 21 * * * cd $HOME/ncbi-logging/scripts && ./parse_gs.sh  | ts 2>&1 >> $HOME/parse_gs.log

13 22 * * * cd $HOME/ncbi-logging/scripts && ./s3_lister.sh  | ts 2>&1 >> $HOME/s3_lister.log
